body {
    font-family: 'Poppins', sans-serif;
    background-color: lightgoldenrodyellow;

}

main {
    padding: 20px;
    background-color: white;

}

/* start baner section */
.baner {
    border: 1px solid black;
    background-color: black;
    color: aliceblue;
    display: flex;
    border-radius: 10px;
    padding: 40px;

}

.baners-left-side {}

.baner-h1 {
    font-weight: 700;
    font-size: 80px;
}

.baner-p {
    font-weight: 50;
    font-size: 25px;
}

.baners-right-side {
    position: relative;
    left: 50px;
}

.watch-button {
    background-color: red;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.baners-img {
    width: 500px;
    height: 600px;
    padding-right: 50px;
}

/* end baner section */
.flag {
    background-color: antiquewhite;
    height: 250px;
    width: 312px;
    padding: 22px;
    font-weight: 400;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;


}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.flag img {
    /* width: 100px; */
    /* gap: 30px; */
}

strong {
    font-size: 35px;
}

.side-box {
    width: 312px;
    height: 300px;
    background-color: black;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
}

.boxs {
    width: 252px;
    height: 64px;
    border-radius: 5px;
}

#red-blog {
    background-color: red;
}




/* start footer */
footer {
    width: 1358px;
    height: 200px;
    background-color: #161616;
    position: relative;

    color: #E8E8E8;
    padding-left: 70px;
    border-radius: 5px;


}

.foot {
    text-align: center;
}

hr {
    width: 1230px;
}

.foots {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;
}